/**
 * Variables
There must be a variable name body-color in /src/scss/base/vars.scss
There must be a variable name text-color in /src/scss/base/vars.scss
*/

$primary: #0c4bfa;

$body-color: #b01928;
$text-color: #34a234 ;