@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

div.chat {
  position: fixed;
  bottom: 0;
  right: 0;
}


/* Create a chat widget which is always on the bottom right corner
When implemented merge the dev branch into master before validating
Requirements
The project must run when started via npm run start
There must be a "div" element on the page with the class of .chat
The chat must be on the bottom right corner no matter how much the user scrolls down */